
body {
    background-color: #fffdfd;
    color: #1f1d1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    overflow-y: auto;
}

div.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 30px;
}

.global-toggles {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: top;
    justify-content: center;
    margin: auto;
}
