@import url('./toggle.css');

* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.toggle-box {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  width: 100%;
  label {
    font-size: 14px;
  }
  margin-bottom: 15px;
}

input[type="checkbox"]:disabled, label.locked {
  opacity: 0.5;
  pointer-events: none;
}
#settingsButton {
  margin: 16px 0px 8px 0px;
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #aeffe5;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

div.title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  height: 50%;
  width: 100%;
  color: #091276;
  font-family: serif;
  font-weight: 600;
  font-style: normal;
}

.logo {
  padding: 0px 20px;
  height: 50px;
  width: auto;
}

button {
  cursor: pointer;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 5px;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  height: fit-content;
  padding: 1em;
  a {
    text-decoration: none;
    color: #1f1f1f;
  }
  &:hover {
    background-color: #eee;
    text-decoration: underline;
  }
  img {
    width: 18px;
    height: 18px;
    filter: opacity(0.9);
  }
  img.togglesIcon {
    width: 16px;
    height: 16px;
    filter: opacity(0.8);
  }
}