@import url('./main.css');

html {
    background-color: #f7f7f7;
    color: #000000;

    width: 350px;
    height: 100px;
}

body {
    padding: 12px;
}

#extensionNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#siteInfoContainer {
  --site-info-container-height: 1.5rem;
  display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: var(--site-info-container-height);
    padding: 8px 0px;
  
    h2 {
      font-size: var(--site-info-container-height);
      font-weight: 500;
    }
  }

  
#settings {
  .subswitches-container {
    display: flex;
    flex-direction: column;
    h2 {
      margin-block-end: 0.1em;
      font-size: 18px;
    }
    padding-inline-start: 8px;
    padding-inline-end: 0px;
  }
  .settings-toggle-masterSwitch .text {
    font-size: 20px;
  }
  .settings-toggle-masterSwitch {
    --height: 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}
