@import url('../utils/main.css');

html {
    background-color: #f7f7f7;
    color: #000000;

    width: 350px;
    height: 100px;
}

body {
    padding: 12px;
}

#extensionNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#siteInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    height: 0px;
    padding: 8px 0px;
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

