html {
    background-color: #f7f7f7;
    color: #000000;

    width: 300px;
    height: 400px;
}

#extensionNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#siteInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
}