name: Lint check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4 # Use a specific version, e.g., v4
    - name: Install modules
      run: npm install
    - name: Run ESLint
      run: npm run lint
